body {
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

h2 {
    color: blue;
}

.btn-success {
    margin-right: 5px;
}

.active {
    color: red !important;
}

.app a {
    margin-right: 7px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(2, 2, 204);
}