<div class="container mt-5 app">
  <div class="nav mb-4">
    <a class="btn btn-default" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Test 1</a>
    <a class="btn btn-default" routerLinkActive="active" routerLink="/test2">Test 2</a>
    <a class="btn btn-default" routerLinkActive="active" routerLink="/users">Users</a>
    <a class="btn btn-default" routerLinkActive="active" routerLink="/cockpit">Cockpit</a>
    <a class="btn btn-default" routerLinkActive="active" routerLink="/servers">Servers</a>
    <a class="btn btn-default" routerLinkActive="active" routerLink="/td-form">TD-Form</a>
    <a class="btn btn-default" routerLinkActive="active" routerLink="/r-form">R-Form</a>
    <a class="btn btn-default" routerLinkActive="active" routerLink="/http-form">Http Form</a>
  </div>

  <router-outlet></router-outlet>

</div>
